@using Salon.Models.Submission
@model SubmissionListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submissions</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Numbers</th>
            <th>Country</th>
            <th>Entries</th>
            <th>Accepted</th>
            <th>Results</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var submission in Model.Items)
        {
            <tr class="@(!submission.IsJudged ? "warning" : submission.HasAccepted ? "success" : "danger")">
                <td>@submission.DisplayName</td>
			    <td>@submission.AccreditationNumbers</td>
                <td>@submission.CountryName</td>
                <td>@submission.NumberOfEntries</td>
                <td>@submission.AcceptedCount (@(Math.Round(submission.AcceptedPercent, 2))%)</td>
                <td>@(submission.IsJudged ? "" : String.Format("{0:dd/MM/yyyy}", submission.NotificationDate))</td>
                <td><a asp-action="SubmissionResults"  asp-route-pSubmissionId="@submission.SubmissionId">Results</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                    <a asp-action="AddSubmission" asp-route-pPersonId="@Model.PersonId">Add new submission</a>               
            </td>
            
        </tr>
    </tfoot>
</table>

