@model List<Salon.Models.ImageSalonViewModel>

@{
    ViewData["Title"] = "Successful Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Awarded Images (@Model.Count awards)</h2>

<table class="table">
    <thead>
        <tr>
            <th>Award</th>
			<th>Image</th>
			<th>Name</th>
			<th>Award</th>
</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AcceptanceNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.ImageNumber)</td>
            <td><a asp-controller="Image" asp-action="SingleImage" asp-route-pImageId="@item.ImageId">@Html.DisplayFor(modelItem => item.ImageTitle)</a></td>
			<td>@Html.DisplayFor(modelItem => item.AwardDetails)</td>
        </tr>
}
    </tbody>
</table>
